<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/World Map">World Map</a></li>
	        		<li><a href="/Statistics">Statistics</a></li>
	        		<li><a href="/Paradata">Paradata</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ShannynOakley@hotmail.com">email</a></li>
	        		<li><a href="https://github.com/ShannynOakley">github.com/ShannynOakley</a></li>
				</ul>
			</footer>
		</body>
	</html>
